@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    font-family: Roboto,sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
    background: #1F2937;
}
.header-logo{
    font-size: 24px;
    color: #F9FAf8;
    font-weight: 900;
}
.main-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
}
.main-nav a{
    text-decoration: none;
    color: #E5E7EB;
}
.section-one{
    display: flex;
    padding: 125px 250px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    background: #1F2937;
}
.section-one .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.section-one .container span{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAf8;
    width: 350px;
}
.section-one .container p{
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    padding: 0;
    margin: 0;
}
.section-one .container button{
    font-family: Roboto, sans-serif;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
}
.section-one .container a{
    text-decoration: none;
}
.section-one img{
    height: auto;
    width: 400px;
    border-radius: 8px;
}
.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 40px 250px;
}
.main-h1{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #1F2937;
}
.conteners{
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
}
.section-two p{
    width: 150px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.section-two img{
    width: 150px;
    border-radius: 8px;
}

